slnWastes6/.vs
slnWastes6/prjWastes6/bin
slnWastes6/prjWastes6/obj
slnWastes6/prjWastes6/obj
slnWastes6/prjWastes6/obj
slnWastes6/prjWastes6/obj/Release
slnWastes6/prjWastes6/obj
slnWastes6/prjWastes6/obj
