* {
    box-sizing: border-box;
}

    *:focus {
        outline: none;
    }

body {
    font-family: Arial;
    background-color: #3498DB;
    padding: 50px;
}

.login {
    margin: 20px auto;
    width: 400px;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
}


.app-title {
    text-align: center;
    color: #777;
}

.login-form {
    text-align: center;
     margin-top: 180px;/*這個是有<h2>崇仁醫護管理專科學校</h2> <h2>畢業生流向資訊系統</h2>正常為180px*/
}

.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 8px 0;
    margin-left: 10px;
    width: 150px;
    transition: border .5s;
}

    input:focus {
        border: 2px solid #3498DB;
        box-shadow: none;
    }

.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

    .btn:hover {
        background-color: #2980B9;
    }

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

.login-screen {
        /*background: url(../../../images/login.png) no-repeat;*/
        background-size: cover;
        display: inline-block;
        width: 416px;
        height: 572px;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 0px;
        border-radius: 22px;
        box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px 1px, rgba(0, 0, 0, 0.25) 0 2px 55px 3px;
        /*font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;*/
    }

    #imgCode {
        width: 100px;
    }

@media screen and (min-width: 768px) {
    /* 如果使用者之視窗寬度 >= 768，將會再載入這裡的 CSS。*/
    .login-screen {
        /*background: url(../../../images/login.png) no-repeat;*/
        background-size: cover;
        display: inline-block;
        width: 416px;
        height: 572px;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 0px;
        border-radius: 22px;
        box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px 1px, rgba(0, 0, 0, 0.25) 0 2px 55px 3px;
        /*font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;*/
    }

    .login-form {
        margin-top: 180px;/*這個是有<h2>崇仁醫護管理專科學校</h2> <h2>畢業生流向資訊系統</h2>正常為180px*/
    }

    #imgCode {
        width: 100px;
    }
}



@media screen and (max-width: 767px) {
    .login-screen {
        /*background: url(../../../images/login.png) no-repeat;*/
        background-size: cover;
        display: inline-block;
        width: 300px;
        height: 412px;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 0px;
        border-radius: 22px;
        box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px 1px, rgba(0, 0, 0, 0.25) 0 2px 55px 3px;
        /*font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;*/
    }

    .login-form {
        margin-top: 124px;/*這個是有<h2>崇仁醫護管理專科學校</h2> <h2>畢業生流向資訊系統</h2>正常為124px*/
        font-size: 0.8em;
    }

    #imgCode {
        width: 100px;
    }

    input {
        text-align: center;
        background-color: #ECF0F1;
        border: 2px solid transparent;
        border-radius: 3px;
        /*font-size: 16px;*/
        font-weight: 200;
        padding: 0;
        margin-left: 10px;
        width: 100px;
        transition: border .5s;
    }

    .btn {
        
        font-size: 13px;
        line-height: 20px;
        padding: 3px 0;        
        width: 150px;
        margin: 0 auto;
    }
    /*.visible-md{
        display:none;
    }*/
    
}
